[Unit]
Description=Network restart on boot

[Service]
Type=idle
ExecStart=/etc/ethernet/ethernet_restart_on_boot.sh
ExecStop=/etc/ethernet/ethernet_restart_on_boot.sh
ExecReload=/etc/ethernet/ethernet_restart_on_boot.sh

[Install]
WantedBy=multi-user.target
